/* 左边导航栏logo部分的样式 */
.sider-logo {
  margin: 16px;
  .logo-icon {
    width: 90px;
    &.collapsed {
      width: 35px;
    }
  }
  .logo-title {
    font-size: 26px;
    color: #fff;
    &.collapsed {
      display: none;
    }
  }
}

/* header部分的右边导航的样式 */
.header-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center
}
.header-index-wraper {

  .user-wraper {
    cursor: pointer;
  }
  .avatar-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 8px;
  }
  .msg-icon-wraper {
    position: relative;
    margin-right: 16px;
    padding: 0 16px;
    cursor: pointer;
    .msg-count-badge {
      position: absolute;
      right: 2px;
      top: -16px;
    }
  }
  .msg-icon-wraper:hover {
    background: rgba(0,0,0,.025);
  }
}