/**
* 本文件是针对用户部分的样式
**/

/** UserCenter.js **/
.usercenter-wraper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .left-wrap {
    background-color: #fff;
    width: 32%;
    min-height: 200px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 28px;
  }
  .general-info {
    text-align: center;
    margin-bottom: 8px;
    .info-avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    .info-nickname {
      margin-top: 16px;
      font-weight: bold;
    }
  }


  .right-wrap {
    background-color: #fff;
    width: 65%;
    min-height: 800px;

    .artical-wraper {
      box-sizing: border-box;
      padding: 0 16px;
    }
    .item-detail {
      padding: 16px 24px ;
      border-bottom: 1px solid #e8e8e8;
      .deepen-color {
        color: #fa541c;
      }
    }
    .detail-tags-box {
      margin-bottom: 8px;
    }
    .detail-public {
      margin-bottom: 8px;
    }
    .detail-feedback {
      .feedback-box {
        margin-right: 8px;
      }
    }
  }
}

/** UserList.js **/
.userlist-wraper {
  background-color: #fff;
  box-sizing: border-box;
  padding: 16px;
  .search-options {
    .input-box {
      width: 200px;
    }
    .input-tag {
      margin-right: 12px;
    }
  }

  .content-wrap {
    margin-top: 32px;
  }
}